.cover__link {
  display: block;
  position: relative;
  background-image: url(./images/cover-trains.jpg);
  background-size: 1184px 740px;
  width: 1184px;
  height: 740px;

}

.cover__link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
}

.cover__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.cover__link:hover:after {
  opacity: 1;
}
