.header__link-choice {
  color: white;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  font-weight: 400;
  opacity: 100%;
  transition-property: opacity;
}

@media screen and (max-width: 320px) {
  .header__link-choice {
    font-size: 18px;
    line-height: 20px;
  }
}
