.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
  padding-top: 0px;

}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
