.footer {
  box-sizing: border-box;
  width: 100%;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 24px;
}

@media screen and (max-width: 1100px) {
  .footer {
    padding: 0 48px 24px 48px;
  }
}


@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
    padding: 0 24px 24px 24px;
  }
}


@media screen and (max-width: 640px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-left: 16px;
  }
}
